<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
</head>
<body>
  <h1>Bienvenido a mi humilde paginaa</h1>
  <p>Seria tan amable de iniciar sesion?</p>
  <form method="POST">
    <div>
      <label for="username">Usuario</label>
      <input type="text" name="username">
    </div>
    <br>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <br>
    <div>
      <input type="submit" value="Logearse"/>
    </div>
  </form>
</body>
</html>